.TitleMain {
    display: flex;
    justify-content: center;
    z-index: -1;
}

.notchTitleMain {
    top: 0;
    left: 50%;
    width: 280px;
    height: 42px;
    background-color: #1f1a13;
    color: white;
    border-radius: 0 0 28px 28px;
    transform: translateX(0%);
    display: flex;
    justify-content: center;
    z-index: -1;
}

.notchTitleMain::before,
.notchTitleMain::after {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 14px;
    height: 7px;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 100%, transparent 6px, #222 7px);
}

.notchTitleMain::after {
    left: 100%;
    margin-right: 7 px;
    background-image: radial-gradient(circle at 100% 100%, transparent 6px, #222 7px);
}

@media screen and (max-width: 990px) {
    .notchTitleMain {
        display: none;
    }
}


.grid-container-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    padding: 30px 30px;
    border-radius: 0.3%;
}


/* .grid-container-main>div {
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
    height: 430px;
    border-radius: 2.5%;
    width: 280px;
    margin-left: 60px;
} */

.titleMain {
    font-size: 16px;
}



.ImgStyle {
    display: flex;
    justify-content: center;
}

.mainImg {
    height: 260px;
    width: 220px;
    border-radius: 2.5%;
    margin-bottom: 20px;
}

.CircularMain {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.addToFavorite {
    border-radius: 50%;
}

.addToFavorite:hover {
    box-shadow: 3px -3px 4px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.8;
}


.grid-container-main {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


@media (max-width: 700px) {
    .grid-container-main {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .grid-container-main>div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 30px 30px;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        min-height: auto;
    }

}