.grid-container-main {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px ;
    padding: 30px 30px;
    border-radius: 0.3%;
}
.grid-container-main > div {
    background-color: #78d5d8;
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
    height: 380px;
    border-radius: 2.5%;
    width: 280px;
    margin-left: 60px;
}
.titleMain{
    font-size: 16px;
}

.mainImg{
    height: 220px;
    width: 180px;
}

.addToFavirte{
    border-radius: 50%;
}
