.LoginStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.LoginStyleInside{

    border: 2px black solid;
    border-radius: 10px;
    width: 280px;
    height: 300px;
    margin-top: 69px;
}

.loginHr{
    border-top: 1px solid black;
    margin-bottom: 80px;
}
.LoginButton{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}