.LoginStyle {
    display: flex;
    justify-content: center;
    align-items: center;

}

.LoginStyleInside {

    border: 2px black solid;
    border-radius: 10px;
    width: 280px;
    height: 310px;
    margin-top: 69px;
}

.LoginWord {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}


.LoginHr {
    color: black;
    size: 3px;
}


.InsideLoginDiv {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.LoginButton {
    margin-top: 28px;
    margin-bottom: 10px;
    border-radius: 6px;
}