.LoginStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100%;

}

.LoginStyleInside {

    border: 2px black solid;
    border-radius: 10px;
    width: 380px;
    height: 430px;
    margin-top: 69px;
    margin-bottom: 112px;
    background-color: #3d3d3d;
    color:wheat
    
}

.LoginWord {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}


.LoginHr {
    color: black;
    size: 3px;
}

.pleaseWord{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 38px;;
}


.InsideLoginDiv {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.LoginContainer{
    margin-top: 5px;
}

.InputCorner{
    border-radius: 10px;
    width: 260px;
}

.LoginButton {
    margin-top: 28px;
    margin-bottom: 10px;
    border-radius: 6px;
}