.CampaignPageInSideMain{
    margin: 15px;
    border:black solid 2px;
}

.box0{
    margin: 15px;
    border:black solid 1px;
    padding: 6px;
}

.box0 > *{
margin-top: 12px;
}


.CampaignPageImg{
    width:140px;
    height:160px;
    margin-top: 20px;
}
