.TitalMyCampaign {
    display: flex;
    justify-content: center;
}

.notchTitalMyCampaign {
    /* position: absolute; */
    top: 0;
    left: 50%;
    width: 280px;
    height: 42px;
    background-color: #1f1a13;
    color: white;
    border-radius: 0 0 28px 28px;
    transform: translateX(-25%);
    display: flex;
    justify-content: center;
    /* margin-top: 56px; */
}

.notchTitalMyCampaign::before,
.notchTitalMyCampaign::after {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 14px;
    height: 7px;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 100%, transparent 6px, #222 7px);
}

.notchTitalMyCampaign::after {
    left: 100%;
    margin-right: 7 px;
    background-image: radial-gradient(circle at 100% 100%, transparent 6px, #222 7px);
}

@media screen and (max-width: 990px) {
    .notchTitalMyCampaign {
        display: none;
    }
}

.CampaignListMainDiv{
    margin-top: 13px;
    border: solid black 1px;
    border-radius: 18px;
}

.myCampaignPageImg{
    width: 100px;
    height: 100px;
}