.TitalMyCampaign {
    display: flex;
    justify-content: center;
    z-index: -1;
}

.notchTitalMyCampaign {
    top: 0;
    left: 50%;
    width: 280px;
    height: 42px;
    background-color: #1f1a13;
    color: white;
    border-radius: 0 0 28px 28px;
    transform: translateX(-25%);
    display: flex;
    justify-content: center;
    z-index: -1;
}

.notchTitalMyCampaign::before,
.notchTitalMyCampaign::after {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 14px;
    height: 7px;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 100%, transparent 6px, #222 7px);
}

.notchTitalMyCampaign::after {
    left: 100%;
    margin-right: 7 px;
    background-image: radial-gradient(circle at 100% 100%, transparent 6px, #222 7px);
}

@media screen and (max-width: 990px) {
    .notchTitalMyCampaign {
        display: none;
    }
}

.CampaignListMainDiv{
    border: solid black 1px;
    border-radius: 18px;
    margin: 7px 9px;
}

.CampaignListMainDiv:hover {
    box-shadow: 3px -3px 4px 0px rgba(0, 0, 0, 0.75);
}


.FirstRowMyCampaign{
    /* display: flex;
    padding: 12;
    justify-content: space-around;
    margin-top: 20px; */
}


.FirstColume{
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
    margin-top: 6px;

}
.SecondColume{
    
}

#pargraphesAboutCampaign{
    margin-left: 9px;
}

.SecandRowMyCampaign{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6px;
}



.myCampaignPageImg{
    width: 200px;
    height: 230px;
}