.NavMain{
    display: flex ;
    justify-content:space-evenly ;
    border: solid 2px black ;
    border-radius: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 8px;
    margin-right: 8px;
    position: sticky;
    top:0;
    background-color: white;
}

/* .defiultStyle{
    display:    inline ;
}
.dropbtn {
    background-color: #618cc5;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1} */