/* .MainAddCampaign{
    display: flex;
    justify-content: center;
    align-items: center;
}


.AddCampaignStyleInside{
    border: 2px black solid;
    border-radius: 10px;
    width: 480px;
    height: 710px;

}

.CampaignWord {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.CampaignHr {
    color: black;
    size: 3px;
}

.AddCampaignInside{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

} */

.Page1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px black solid;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.page1Input{}

.Page2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px black solid;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.page2Input{}

.Page3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px black solid;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.page3Input{}