
.TitleMyContribution {
    display: flex;
    justify-content: center;
    z-index: -1;
}

.notchTitleMyContribution {
    top: 0;
    left: 50%;
    width: 280px;
    height: 42px;
    background-color: #1f1a13;
    color: white;
    border-radius: 0 0 28px 28px;
    transform: translateX(-25%);
    display: flex;
    justify-content: center;
    z-index: -1;

}

.notchTitleMyContribution::before,
.notchTitleMyContribution::after {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: 14px;
    height: 7px;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 100%, transparent 6px, #222 7px);
}

.notchTitleMyContribution::after {
    left: 100%;
    margin-right: 7 px;
    background-image: radial-gradient(circle at 100% 100%, transparent 6px, #222 7px);
}

@media screen and (max-width: 990px) {
    .notchTitleMyContribution {
        display: none;
    }
}

.ContributionListMainDiv{
    margin-top: 13px;
    border: solid black 1px;
    border-radius: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.ContributionListMainDiv:hover {
    box-shadow: 3px -3px 4px 0px rgba(0, 0, 0, 0.75);
}


.MyContributionFirst{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
}
.MyContributionSecond{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.MyContributionThird{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6px;
}

.myCampaignPageImg{
    border-radius: 25px;
    border: black 1px solid;
}

.table2{
    display: none;
}

@media (max-width: 660px) {
    .MyContributionFirst{
    flex-wrap: wrap;
    }
    .table1{
        display: none;
    }
    .table2{
        display: block;
    }
    

}
