body{
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

/* body{
    background-image: url(photo/photo_site.jpg);
    background-size: cover;
} */

/*
    
    
    .btn {
        border: none;
        cursor: pointer;
    } */

    /* .btn:hover {
        box-shadow: 10px -10px 5px 0px rgba(0,0,0,0.75);
        } */

        /* .buttonall:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #363B3D;
            transform: translateY(4px);
        } */