.RegisterStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterStyleInside {
    border: 2px black solid;
    border-radius: 10px;
    margin-top: 30px;
    width: 300px;
    height: 590px;
}


.RegisterWord {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.RegisterLine {
    color: black;
    border-top: 1px solid black;
}

.InnerSideOfRegister {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.InnerSideOfRegister>* {
    margin-top: 2px;
}

.SubmetButtonRegister {
    margin-top: 6px;
}