.RegisterStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterStyleInside {
    border: 2px black solid;
    border-radius: 10px;
    margin-top: 30px;
    width: 400px;
    height: auto;
    background-color: #3d3d3d;
    color:wheat
}


::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }

.RegisterWord {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

.RegisterLine {
    color: black;
    border-top: 1px solid black;
}

.InnerSideOfRegister {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.InnerSideOfRegister>* {
    margin-top: 2px;
}

.RegisterInputForm{
    border-radius: 10px;
    width: 320px;
}
.RegisterInputLabel{
    margin-top: 10px;
}

.SubmetButtonRegister {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 220px;
}